*{
    padding:0;
    margin:0;
}

.navig{
    position: fixed;
    top: 0;
    background-color: yellow;
    width: 100%;
    text-align: center;
}

.nat{
    height: 100px;
    background-color: aqua;
}